.custem-img-box img{
    transform: scale(0.8);
    animation: zoomOut 0.5s ease backwards;
    animation-delay: 0.3s;
}

@keyframes zoomOut {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(0.8);
    }
}
.custem-img-box:hover img {
    animation: zoomIn 0.5s ease forwards;
    animation-delay: 0.3s;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(0.9);
    }
}

.customcart{
    color: white;
}
.customcart:hover{
    color:#ffc107;
}
.customcart_menu{
    color: white
}
.customcart_menu:hover{
    animation: zoomIncart 0.5s ease forwards;
    color: white;

}

@keyframes zoomIncart {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.custombg{
     background-color: white;
     padding-top: 20px;
}